* {box-sizing: border-box}

body,
html {
  margin: 0;
  height: 100%;
}

.tablink {
  background-color: #555;
  color: #fff;
  float: left;
  font-size: 17px;
  width: 25%;
  border: none;
  outline: none;
  padding: 14px 16px;
  cursor: pointer;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: #fff;
  padding: 100px 20px;
  height: 100%;
  display: none;
}

#home {
  background-color: orangered;
}

#news {
  background-color: green;
}

#contact {
  background-color: blue;
}

#about {
  background-color: orange;
}